body {
    text-align: center;
}

#logo {
    width: 1036px;
    height: 563px;

}

img {
    width: 350;
}

#Byju {
    width: 339;
    height: 339;
}

#BillGates {
    width: 339;
    height: 339;
}

#CR7 {
    width: 339;
    height: 339;
}


#JeffBezos {
    width: 339;
    height: 339;
}
